---
import { FOOTER_CONTENT, SITE_TITLE } from "../config";
import Container from "./Container.astro";
---

<footer class="bg-gradient-to-t from-orange-50">
  <div class="flex flex-row items-center justify-center max-w-screen-md h-96 mx-auto px-4 sm:px-6">
    <p
      class="text-4xl leading-[60px] bg-clip-text text-center text-transparent bg-gradient-to-r from-orange-600 to-amber-600 font-title font-black"
    >
      {FOOTER_CONTENT}
    </p>
  </div>
  <div class="relative flex flex-row justify-between gap-2 max-w-screen-md mx-auto px-4 sm:px-6 text-base text-zinc-700 pb-6">
   <span class="text-xs"> &copy; {new Date().getFullYear()} • {SITE_TITLE} 🔬</span>
   <span class="text-xs">永远热血,永远热爱,永远热泪盈眶 🚀 🚀 🚀</span>
  </div>

</footer>




